{{#partial "content"}}
    <div class="text-center">
        <div class="jumbotron my-4 py-3">
            <h2 class="display-3">About</h2>
            <h1>Welcome Aboard!!!</h1>
            <h1>Assemble your own Squad of Heroes right here and feel like a Reincarnation of Nick Fury.</h1>
            <p class="lead">The Hero Squad App allows you to to recruit well-balanced team of superheroes.</p>
            <br>
            <div class="my-3 row justify-content-center py-3">
            <p><a href="/squads" class="btn btn-lg btn-warning mx-3">View Squads</a></p>
            <p><a href="/squad/new" class="btn btn-lg btn-success mx-3">Add a Squad</a></p>
            </div>
        </div>
    </div>
{{/partial}}


{{>layout.hbs}}