{{#partial "content"}}

<!--    <p><a href="/squads" class="btn btn-lg btn-warning">View Squad List</a></p>-->
<!--    <p><a href="/squad/new" class="btn btn-lg btn-success">Add a New Squad</a></p>-->

<div class="text-center my-4 py-4">
    <div class="jumbotron my-4 py-3">
        <h2 class="display-3">Successful</h2>
        <h1>.....</h1>
        <div class="row justify-content-around align-items-center py-2">
        <p><a href="/squads" class="btn btn-lg btn-warning">View Squads</a></p>
        <p><a href="/squad/new" class="btn btn-lg btn-success">Add a Squad</a></p>
        </div>
    </div>
</div>

{{/partial}}

{{> layout.hbs}}